@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for a more integrated dark theme look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #161B22; /* dark-card */
}

::-webkit-scrollbar-thumb {
  background: #30363d; /* dark-border */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8b949e; /* dark-text-secondary */
}
